.App {
  .Background {
    display: none;
  }

  h1 {
    color: #e7e7e7;
    margin: 0;
    font-size: 50px;
    line-height: 58.59px;
    font-weight: 400;
  }

  .Athlete {
    h1 {
      margin-left: 19px;
    }

    .FootBallerContainer {
      height: 237px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      .Footballer {
        height: 281px;
        width: 218px;
        margin-top: 11px;
        background-image: url("./Assets/FootBaller_mobile.png");
        background-repeat: no-repeat;
      }
    }
  }

  .Features {
    display: none;
  }

  .FeaturesMobile {
    height: 284px;
    background-color: #f5f4f9;
    :global(.rs-carousel) {
      height: 284px;
    }

    :global(.rs-carousel-toolbar) {
      bottom: 28px;
    }

    :global(.rs-carousel-label-wrapper) {
      margin: 0 6px;
    }

    .Feature {
      margin-top: 72px;
      height: 200px;
      padding-left: 19px;
      padding-right: 2px;

      div:nth-child(1) {
        display: flex;
        align-items: center;
      }

      .Bullet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div:nth-child(1) {
          font-size: 14px;
          line-height: 16px;
        }

        div:nth-last-child(1) {
          margin-top: 2px;
          height: 4px;
          width: 17px;
          border-radius: 999999px;
          background-color: #603ebe;
        }
      }

      .Title {
        color: #c2c2c2;
        font-size: 28px;
        line-height: 32.81px;
        margin-left: 9px;
      }

      .Detail {
        font-size: 15px;
        line-height: 18px;
        margin-top: 24px;
        letter-spacing: 0.4px;
      }
    }
  }

  .Players {
    margin-top: 19px;
    h1 {
      margin-left: 17px;
    }

    .PlayersContainer {
      height: 237px;
      width: 100%;
      display: flex;
      justify-content: center;

      .Player {
        height: 250px;
        width: 320px;
        background-image: url("./Assets/Players_mobile.png");
        background-repeat: no-repeat;
        margin-top: 23px;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .App {
    h1 {
      font-size: 90px;
      line-height: 105px;
    }

    .FeaturesMobile {
      display: none;
    }

    .Background {
      position: absolute;
      display: block;
      width: 100%;
      top: 0;
      z-index: -1;

      & > div:nth-child(1) {
        height: 377px;
      }
      & > div:nth-child(2) {
        height: 235px;
        background-color: #f5f4f9;
      }
      & > div:nth-child(3) {
        height: 207px;
        background-color: #5e3db3;
      }
      & > div:nth-child(4) {
        height: 347px;
        background-color: #fff;
      }
      & > div:nth-child(5) {
        height: 235px;
        background-color: #f5f4f9;
      }
      & > div:nth-child(6) {
        height: 207px;
        background-color: #090c35;
      }
    }

    .Features {
      display: block;

      .Feature {
        padding-top: 30px;
        div:nth-child(1) {
          display: flex;
          align-items: center;
        }

        .Bullet {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          div:nth-child(1) {
            font-size: 18px;
            line-height: 21px;
          }

          div:nth-last-child(1) {
            margin-top: 5px;
            height: 5px;
            width: 22px;
            border-radius: 999999px;
            background-color: #603ebe;
          }
        }

        .Title {
          color: #c2c2c2;
          font-size: 36px;
          line-height: 42px;
          margin-left: 12px;
          letter-spacing: 1.5px;
        }

        .Detail {
          font-size: 18px;
          line-height: 28px;
          margin-top: 21px;
          letter-spacing: 0.4px;
          padding-right: 20px;
        }
      }
    }

    .Athlete {
      display: flex;

      & > h1:nth-child(1) {
        display: none;
      }

      .Features {
        h1 {
          margin-left: 0;
          margin-top: 81px;
          margin-bottom: 12px;
        }

        .Feature:nth-of-type(1) {
          height: 179px;
        }
        .Feature:nth-of-type(2) {
          height: 235px;
        }
        .Feature:nth-of-type(3) {
          height: 207px;
          .Bullet {
            div:nth-last-child(1) {
              background-color: #fff;
            }
          }

          .Detail {
            color: #fff;
          }
        }
      }

      .FootBallerContainer {
        max-width: 38%;
        height: 819px;
        overflow: hidden;
        position: relative;

        .Footballer {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 102px;
          background-image: url("./Assets/FootBaller.png");
          background-size: cover;
          background-position: top 0 right -50px;
          height: calc(100% - 102px);
          width: 100%;
        }
      }
    }

    .Players {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 0;

      & > h1:nth-child(1) {
        display: none;
      }

      .Features {
        padding-left: 31px;
        h1 {
          margin-left: 0;
          margin-top: 51px;
          margin-bottom: 0px;
        }
        .Feature {
          padding-top: 0;
        }

        .Feature:nth-of-type(1) {
          height: 157px;
          margin-top: 34px;
        }
        .Feature:nth-of-type(2) {
          height: 184px;
          margin-top: 51px;
        }
        .Feature:nth-of-type(3) {
          height: 163px;
          margin-top: 44px;
          .Bullet {
            div:nth-child(1) {
              color: #8765dd;
            }
            div:nth-last-child(1) {
              background-color: #fff;
            }
          }

          .Detail {
            color: #fff;
          }
        }
      }

      .PlayersContainer {
        max-width: 34%;
        height: 789px;
        overflow: visible;
        position: relative;

        .Player {
          position: absolute;
          top: 0;
          left: -120px;
          background-image: url("./Assets/Player.png");
          background-size: cover;
          background-position: top -5px left 0;
          height: 570px;
          width: calc(100% + 120px);
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .App .Players .PlayersContainer .Player {
    position: absolute;
    top: 0;
    left: -170px;
    background-image: url("./Assets/Player.png");
    background-size: cover;
    background-position: top -5px left 0;
    height: 570px;
    width: calc(100% + 170px);
  }
}

@media screen and (min-width: 769px) {
  .App {
    overflow: hidden;
    .Content {
      max-width: 1420px;
      margin: auto;
    }

    .Background {
      & > div:nth-child(1) {
        height: 345px;
      }
      & > div:nth-child(2) {
        height: 256px;
        background-color: #f5f4f9;
      }
      & > div:nth-child(3) {
        height: 297px;
        background-color: #5e3db3;
      }
      & > div:nth-child(4) {
        height: 485px;
        background-color: #fff;
      }
      & > div:nth-child(5) {
        height: 235px;
        background-color: #f5f4f9;
      }
      & > div:nth-child(6) {
        height: 268px;
        background-color: #090c35;
      }
    }

    .Athlete {
      .Features {
        padding-left: 70px;
        h1 {
          margin-top: 24px;
          margin-bottom: 0px;
        }

        .Feature {
          padding-top: 0px;
        }

        .Feature:nth-of-type(1) {
          margin-top: 59px;
          height: 157px;
        }
        .Feature:nth-of-type(2) {
          margin-top: 53px;
          height: 203px;
        }
        .Feature:nth-of-type(3) {
          margin-top: 80px;
          height: 217px;
        }
      }

      .FootBallerContainer {
        max-width: 36%;
        height: 898px;
        overflow: visible;
        position: relative;

        .Footballer {
          z-index: 2;
          margin-top: 35px;
          background-position: top 0 right -50px;
          height: 950px;
          width: calc(100% + 200px);
        }
      }
    }

    .Players {
      margin-top: 0;

      .Features {
        h1 {
          margin-top: 124px;
        }

        .Feature:nth-of-type(1) {
          height: 188px;
          margin-top: 68px;
        }
        .Feature:nth-of-type(2) {
          height: 183px;
          margin-top: 52px;
        }
        .Feature:nth-of-type(3) {
          height: 120px;
          margin-top: 87px;
        }
      }

      .PlayersContainer {
        max-width: 40%;
        height: 988px;
        overflow: visible;
        position: relative;

        .Player {
          margin-top: 0;
          left: -200px;
          background-position: top 0 left 0;
          height: 815px;
          width: 991px;
        }
      }
    }
  }
}
