@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "rsuite/dist/rsuite.css";

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rs-carousel-bg: transparent;
  --rs-carousel-indicator: #d8d8d8;
  --rs-carousel-indicator-active: #5c3caf;
  --rs-text-primary: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
